PORT=3000
DATABASE_URL=mongodb+srv://roarieldev:coder2024@cluster0.onipizz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE=coder-project
SECRET=CoderCoder123
ADMIN_MAIL=adminCoder@coder.com
ADMIN_MAIL_PASSWORD=adminCod3r123
GIT_CLIENT=Iv23liFdsO6hLc1OzheW
GIT_CLIENT_SECTRET=7803628efc088065cdbcd0df70d7f3480c5d97e1
NODE_ENV=DEV
APP_MAIL_PASS=ortgteboxtzyzahf
APP_MAIL_DIR=roarieldev@gmail.com