{{>navbar}}
<h2>Login:</h2>
<hr>
<form action="/api/sessions/login" method="post">

    {{#if error}}
    <div style="font-weight: bolder; color: red;">{{error}}</div>
    {{/if}}

    {{#if mensaje}}
    <div style="font-weight: bolder; color: green;">{{mensaje}}</div>
    {{/if}}

    <input type="email" name="email" placeholder="correo electrónico">
    <input type="password" name="password" placeholder="contraseña">
    <input type="text" name="web" value="web" hidden>
    <br><br>
    <input class="btn btn-outline-primary btn-sm" type="submit" value="Login">
</form>
<br><br>
    <a href="/api/sessions/github">>Acceder con Github</a>
    <a href="/recupero">Recupero de Password</a>


<br><br>
{{>menu}}