{{>navbar}}
<h3>Cambio de contraseña</h3>
<form action="/api/sessions/updatePassword/" method="post">

    <div class="form-group row">
        <label class="col-sm-1 col-form-label col-form-label-sm">Nueva contraseña</label>
        <div class="col-sm-5">
            <input type="password" class="form-control form-control-sm" name="password" placeholder="contraseña">
            <input type="text" name= "tk" value="{{token}}" hidden>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-10">
            <input class="btn btn-outline-primary btn-sm" type="submit" value="Aceptar">
        </div>
    </div>
</form>

<br>
{{>menu}}