{{>navbar}}

<h1>Solicitud enviada...</h1>
<p>{{user.nombre}}, solicito recuperar su contraseña, se envio un correo a <strong>{{user.email}}</strong></p>
<p><i>Revise la carpeta de Spam si no encuentra el correo en la bandeja de entrada.</i></p>


<br>
{{>menu}}