<div class="d-flex justify-content-end">
    <div class="p-2"><a href="/">Home</a></div></a>
    <div class="p-2"><a href="/chat">Chat</a></div></a>
    {{#if user}}
        <div class="p-2"><a href="/logout">Logout</a></div>
    {{else}}
        <div class="p-2"><a href="/login">Login</a></div>
    {{/if}}
</div>